@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d5d5d5;
}

#column-2 {
  background: #86999c;
}

#column-3 {
  background: #4f598c;
}

#column-4 {
  display: none;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: Cornsilk;
  }

  .col-3 {
    width: 50%;
    height: 320px;
    float: left;
  }

  #column-1 {
    background-color: Crimson;
  }

  #column-2 {
    background-color: CornflowerBlue;
  }

  #column-3 {
    background-color: DarkGoldenRod;
  }

  #column-4 {
    display: block;
    background-color: DarkBlue;
  }

  footer {
    background-color: DarkCyan;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: DarkKhaki;
  }

  .col-3 {
    width: 33.33%;
    height: 320px;
    float: left;
  }

  #column-1 {
    background-color: DarkOrchid;
  }

  #column-2 {
    background-color: DarkMagenta;
  }

  #column-3 {
    background-color: DarkTurquoise;
  }

  #column-4 {
    display: none;
  }

  footer {
    background-color: GreenYellow;
  }

}
